%center {
	text-align: center;
}

#answer {
  display: none;
}

.wrap {
  @extend %center;
  border: 1px solid gray;
  padding-bottom: 20px;
  background: #ccc;
  position: relative;
  margin-top: 50px;
}
