<!DOCTYPE html>
<html lang="en" ng-app="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLibs</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/app.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <header class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="row">
            <div class="col-xs-2">
              <img src="images/mad-lib-happy-face.png" alt="Smiley face" class="smile">
            </div>
            <div class="col-xs-10 logo">
              <img src="images/ng-mad-libs-logo.png" alt="Madlibs logo">
              <h1>Automate This!</h1>
            </div>
          </div>
        </div><!--/col-xs-8-->
      </div><!--/row-->
    </header><!--/container-->
    <section class="container">
      <div class="row">
        <h2>Please provide the following words:</h2>
      </div>
      <form role="form">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <input type="text" class="form-control" id="maleName" placeholder="male name" ng-model="maleName" ng-init="maleName=''">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="jobTitle" placeholder="Job title" ng-model="jobTitle" ng-init="jobTitle=''">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="tediusTask" placeholder="Tedius task" ng-model="tediousTask" ng-init="tediousTask=''">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <input type="text" class="form-control" id="dirtyTask" placeholder="Dirty task" ng-model="dirtyTask" ng-init="dirtyTask=''">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="celebrity" placeholder="Celebrity" ng-model="celebrity" ng-init="celebrity=''">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="uselessSkill" placeholder="Useless skill" ng-model="uselessSkill" ng-init="uselessSkill=''">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <input type="text" class="form-control" id="obnoxousCelebrity" placeholder="Obnoxious celebrity" ng-model="obnoxiousCelebrity" ng-init="obnoxiousCelebrity=''">
          </div>
        <div class="form-group">
            <input type="text" class="form-control" id="hugeNumber" placeholder="Huge number" ng-model="hugeNumber" ng-init="hugeNumber=''">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="adjective" placeholder="Adjective" ng-model="adjective" ng-init="adjective=''">
          </div>
      </div>
    </div>
    </form>
  </section>
  <section class="container">
    <div class="row">
      <p><span class="input">{{ (maleName != '')? maleName : "_____" }}</span> was a <span class="input">{{ (jobTitle != '')? maleName : "_____" }}</span> who loved technology. Although he loved parts of his job, he absolutely hated  <span class="input">{{ (tediousTask != '')? tediousTask : "_____" }}</span> and <span class="input">{{ (dirtyTask != '')? dirtyTask : "_____"}}</span>. So, <span class="input">{{ (maleName != '')? maleName : "_____" }}</span> met with his life mentor <span class="input">{{ (celebrity != '')? celebrity : "_____" }}</span> who told him to learn how to <span class="input">{{ (uselessSkill != '')? uselessSkill : "_____" }}</span> with Thinkful. Thinkful didn't offer a course on <span class="input">{{ (uselessSkill != '')? uselessSkill : "_____" }}</span> so he studied programming instead.</p>
      <p>What a great decision! With his new skills, <span class="input">{{ (maleName != '')? maleName : "_____" }}</span> built a(n) <span class="input">{{ (adjective!= '')? adjective : "_____" }}</span> robot named <span class="input">{{ (obnoxiousCelebrity != '')? obnoxiousCelebrity: "_____" }}</span> that not only loved <span class="input">{{ (dirtyTask != '')? dirtyTask: "_____" }}</span> but did it <span class="input">{{ (hugeNumber != '')? hugeNumber: "_____" }}</span> faster.</p>
    </div>
  </section>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js" type="text/javascript"></script>
  <script src="js/app.js"></script>
  </body>
</html>
